
:root {
  --color-primary: #FF66C4;
  --color-secondary: #FFB3F7;
  --color-tertiary: #EE217F;
  --color-primary-darker: #DD3B85;
  --color-secondary-darker: #bd67b4;
  --color-tertiary-darker: #fd424b;
  --color-primary-opacity: #5ec5763a;
  --color-secondary-opacity: #ffcd0331;
  --color-tertiary-opacity: #ff58602d;
  --gradient-primary: linear-gradient(to top left, #FFB3F7, #DD3B85);
  --gradient-secondary: linear-gradient(to top left, #ffb003, #ffcb03);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  color: #444;
  line-height: 1.9;
  background-color: #f3f3f3;
  overflow-x: hidden;
}

a{
  text-decoration: none;
  color: var(--color-primary); ;
}
a:hover{
  color: var(--color-primary-darker); ;
}

/* GENERAL ELEMENTS */
.section {
  padding: 15rem 3rem;
  border-top: 1px solid #ddd;

  transition: transform 1s, opacity 1s;
}

.section--hidden {
  opacity: 0;
  transform: translateY(8rem);
}

.section__title {
  max-width: 80rem;
  margin: 0 auto 8rem auto;
}

.section__description {
  font-size: 1.8rem;
  font-weight: 600;
  text-transform: uppercase;
  color: var(--color-primary);
  margin-bottom: 1rem;
}

.section__header {
  font-size: 4rem;
  line-height: 1.3;
  font-weight: 500;
}

.btn {
  display: inline-block;
  background-color: var(--color-primary);
  font-size: 1.6rem;
  font-family: inherit;
  font-weight: 500;
  border: none;
  padding: 1.25rem 4.5rem;
  border-radius: 10rem;
  cursor: pointer;
  transition: all 0.3s;
}

.btn:hover {
  background-color: var(--color-primary-darker);
}

.btn--text {
  display: inline-block;
  background: none;
  font-size: 2rem;
  font-family: inherit;
  font-weight: 500;
  color: var(--color-primary);
  border: none;
  border-bottom: 1px solid currentColor;
  padding-bottom: 2px;
  cursor: pointer;
  transition: all 0.3s;
}

p {
  color: #666;
}

/* This is BAD for accessibility! Don't do in the real world! */
button:focus {
  outline: none;
}

img {
  transition: filter 0.5s;
}

.lazy-img {
  filter: blur(20px);
}

/* NAVIGATION */
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 9rem;
  width: 100%;
  padding: 0 6rem;
  z-index: 100;
}

/* nav and stickly class at the same time */
.nav.sticky {
  position: fixed;
  background-color: rgba(255, 255, 255, 0.95);
}

.nav__logo {
  height: 15rem;
  transition: all 0.3s;
}

.nav__links {
  display: flex;
  align-items: center;
  list-style: none;
}

.nav__item {
  margin-left: 4rem;
}

.nav__link:link,
.nav__link:visited {
  font-size: 1.7rem;
  font-weight: 400;
  color: inherit;
  text-decoration: none;
  display: block;
  transition: all 0.3s;
}

.nav__link--btn:link,
.nav__link--btn:visited {
  padding: 0.8rem 2.5rem;
  border-radius: 3rem;
  background-color: var(--color-primary);
  color: #222;
}

.nav__link--btn:hover,
.nav__link--btn:active {
  color: inherit;
  background-color: var(--color-primary-darker);
  color: #333;
}



/* HEADER & HERO*/
.hero {
  display: flex;
  flex-direction: column;
  height: 100vh;
  position: relative;
  width: 100%;
}

.main{
  width: 75%;
}
.header {
  padding: 0 3rem;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header__content{
   align-items: center;
  display: flex;
  gap: 10rem;
  height: 55rem;
  justify-content: center;
  position: relative;

}

.header__main {
  align-items: center;
  display: flex;
  gap: 10rem;
  justify-content: center;
  position: relative;
}
.header__title {
  display: flex;
  flex-direction: column;
  max-width: 150rem;
  position: relative;
  margin-top: 15rem;
}


.header__title p {
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.6;
  margin-top: 2rem;

}

.social__icons {
  cursor: pointer;
  display: flex;
  gap: 1.3rem;
  margin: 1.5rem 0;
}

.social__icons a svg {
  stroke: var(--color-primary);
  transition: stroke 0.3s ease;

}

.social__icons a:hover svg {
  stroke:var(--color-primary-darker);
}

h1 {
  font-size: 5.5rem;
  line-height: 1.35;
  /* margin-left: 4rem; */
}

h4 {
  font-size: 2.4rem;
  font-weight: 500;
}

.header__img {
  margin-top: 3rem;
  -webkit-animation: morph 8s ease-in-out infinite;
    animation: morph 8s ease-in-out infinite;
    background-image: url(img/me.jpeg);
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    border: 3px solid #2d2e32;
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    height: 28rem;
    transition: all 1s ease-in-out;
    width: 28rem;
}


@keyframes morph {
  0% {
      border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }

  50% {
      border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
  }
  100% {
      border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
}

@-webkit-keyframes morph {
  0% {
      border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }

  50% {
      border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
  }
  100% {
      border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
}


.highlight {
  position: relative;

}

.highlight::after {
  display: block;
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 0.7;
  transform: scale(1.07, 1.05) skewX(-15deg);
  background-image: var(--gradient-primary);
}

.tech__stack {
  align-items: center;
  bottom: 0;
  /* color: #767676; */
  display: flex;
  font-size: 1.7rem;
  justify-content: left;
  left: 0;
  position: absolute;
}

.tech__stack p {
  border-right: 2px solid rgba(45,46,50,.5);
  /* color: #2d2e32; */
  /* font-family: Mulish,sans-serif; */
  font-weight: 600;
  margin-right: 7rem;
  padding-right: 2rem;
}

.tech__stack ul {
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
  list-style: none;
}
.tech__stack ul li img {
  height: 5rem;
  transition: all .3s ease-in-out;
  width: 11rem;
}


/* ABOUT */
.about {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4rem;
  margin: 0 12rem;
}

.about.mobile {
  display: none;
}

.about__img {
  width: 100%;
}

.about__extended {
  align-self: center;
  justify-self: center;
  width: 70%;
  font-size: 1.5rem;
}

.about__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-primary-opacity);
  height: 5.5rem;
  width: 5.5rem;
  border-radius: 50%;
  margin-bottom: 2rem;
}

.about__icon svg {
  height: 2.5rem;
  width: 2.5rem;
  fill: var(--color-primary);
}

.about__header {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.image-container {
  position: relative;
  display: inline-block;
}

.overlay-image {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 25%;
  z-index: 1;
}


/* PROJECTS */
.projects {
  max-width: 100rem;
  margin: 12rem auto 0 auto;

  background-color: #fff;
}

.projects__tab-container {
  display: flex;
  justify-content: center;
}

.projects__tab {
  margin-right: 2.5rem;
  transform: translateY(-50%);
}

.projects__tab span {
  margin-right: 1rem;
  font-weight: 600;
  display: inline-block;
}

.projects__tab--1 {
  background-color: var(--color-secondary);
}

.projects__tab--1:hover {
  background-color: var(--color-secondary-darker);
}

.projects__tab--3 {
  background-color: var(--color-tertiary);
  margin: 0;
}

.projects__tab--3:hover {
  background-color: var(--color-tertiary-darker);
}

.projects__tab--active {
  transform: translateY(-66%);
}

.projects__content {
  display: none;

  /* JUST PRESENTATIONAL */
  font-size: 1.7rem;
  padding: 2.5rem 7rem 6.5rem 7rem;
}

.projects__content--active {
  display: grid;
  grid-template-columns: 7rem 1fr;
  column-gap: 3rem;
  row-gap: 0.5rem;
}

.projects__header {
  font-size: 2.25rem;
  font-weight: 500;
  align-self: center;
}

.projects__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 7rem;
  width: 7rem;
  border-radius: 50%;
}

.projects__icon svg {
  height: 2.75rem;
  width: 2.75rem;
}

.projects__content p {
  grid-column: 2;
}

.projects__icon--1 {
  background-color: var(--color-secondary-opacity);
}
.projects__icon--2 {
  background-color: var(--color-tertiary-opacity);
}
.oprojects__icon--3 {
  background-color: var(--color-tertiary-opacity);
}
.projects__icon--1 svg {
  fill: var(--color-secondary-darker);
}
.projects__icon--2 svg {
  fill: var(--color-primary);
}
.projects__icon--3 svg {
  fill: var(--color-tertiary);
}

.links, .links a {
  align-items: center;
  font-size: 2rem;
}

.links {
  gap: 1rem;
  margin-top: 3rem;
  grid-column: 2;
}


/* CTA */
.section--cta {
  background-color: #37383d;
  border-top: none;
  border-bottom: 1px solid #444;
  text-align: center;
  padding: 10rem 3rem;
}

.section--cta .section__header {
  color: #fff;
  text-align: center;
}

.section--cta .section__title {
  margin-bottom: 6rem;
}

.section--cta .btn {
  font-size: 1.9rem;
  padding: 2rem 5rem;
}

/* FOOTER */
.footer {
  padding: 10rem 3rem;
  background-color: #37383d;
}

.footer__nav {
  list-style: none;
  display: flex;
  justify-content: center;
  margin-bottom: 5rem;
}

.footer__item {
  margin-right: 4rem;
}

.footer__link {
  font-size: 1.6rem;
  color: #eee;
  text-decoration: none;
}

.footer__logo {
  height: 5rem;
  display: block;
  margin: 0 auto;
  margin-bottom: 5rem;
}

.footer__copyright {
  font-size: 1.4rem;
  color: #aaa;
  text-align: center;
}

.footer__copyright .footer__link {
  font-size: 1.4rem;
}

/* MODAL WINDOW */
.contact__modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 60rem;
  background-color: #f3f3f3;
  padding: 5rem 6rem;
  box-shadow: 0 4rem 6rem rgba(0, 0, 0, 0.3);
  z-index: 1000;
  transition: all 0.5s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(4px);
  z-index: 100;
  transition: all 0.5s;
}

.modal__header {
  font-size: 3rem;
  margin-bottom: 3.25rem;
  line-height: 1.5;
}


.btn--close-modal {
  font-family: inherit;
  color: inherit;
  position: absolute;
  top: 0.5rem;
  right: 2rem;
  font-size: 4rem;
  cursor: pointer;
  border: none;
  background: none;
}

.hidden {
  visibility: hidden;
  opacity: 0;
}

/* VISA MESSAGE */
.visa-message {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  background-color: white;
  color: #bbb;
  font-size: 1.5rem;
  font-weight: 400;
}



/* MEDIA QUERIES */
@media screen and (min-width: 1024px) {
  .modal {
    width: auto;
    max-width: 60rem;
    padding: 5rem 6rem;
  }


  .about {
    margin: 0 12rem;
  }

  .header__title {
    grid-template-columns: 3fr 2fr;
  }
}

@media screen and (min-width: 768px) {
  .header {
    height: 100vh;
  }

  .section {
    padding: 15rem 3rem;
  }


  .visa-message {
    padding: 1rem;

  }
}

@media screen and (max-width: 900px) {
  .nav {
    padding: 0 3rem;
    height: 6rem;
  }

  .main{
    width: 100%;
  }

  .header {
    padding: unset;
  }

  .nav__links {
    flex-wrap: wrap;
    padding: 2rem 0 3rem;
    top: 6rem;
    flex-direction: column;
    position: relative;
    left: -100%;
    transition: 0.3s;
    display: none;
  }

  .nav__links.active {
    left: 0;
    display: flex;
    width: 100%;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.95);
  }

  .header__title {
    padding: 6rem 4rem;
  }

  .nav__item:not(.nav__btn) {
    flex-basis: 100%;
  }

  .nav__item {
    margin-left: unset;
    line-height: 2.5;
  }

  


}

@media screen and (max-width: 767px) {
  h1 {
    font-size: 3.5rem;
  }

  .visa-message {
    font-size: 1rem;
      max-width: 100%;
  }

  .btn--close-cookie{

    font-size: 1rem;
    padding: 1rem 2.5rem;

  }

  .header__main {
    flex-direction: column-reverse;
    gap: 3rem;
    height: auto;
    text-align: center;
    /* padding-top: 11rem; */
  }

  .header__img {
    height: 20rem;
    width: 20rem;
  }
  .header__content {
    flex-direction: column;
    gap: 3rem;
    height: auto;
    text-align: center;
  }

  .tech__stack {
    flex-direction: column;
    position: static;
  }

  .tech__stack ul {
    justify-content: center;
  }

  .tech__stack p {
    border-bottom: 2px solid rgba(45,46,50,.5);
    border-right: none;
    margin-bottom: 3rem;
    margin-right: 0;
    padding-bottom: 1rem;
    padding-right: 0;
  }

  .header span {
  display: none;
  }

  .btn--scroll-to{
    display: none;
  }
  .nav {
    flex-wrap: wrap;
  }

  .nav__logo {
    display: none;
  }


  .footer__item {
    margin-right: 2rem;
  }

  .section__header {
    font-size: 3rem;
  }

  .projects__tab-container {
    flex-wrap: wrap;
  }

  .projects__tab {
    margin-right: 0;
    width: 80%;
    margin: 0.25rem 0;
  }

  .projects__tab--active {
    transform: translateY(-50%) scale(1.1);
    margin: 1rem 0;
  }

  .projects__content {
    padding: 3rem;
  }

  .projects__header {
    font-size: 2rem;
  }

  .projects__content--active {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }


  .modal__header {
    font-size: 2.7rem;
  }

  .about {
    display: none;
  }

  .about.mobile {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 6rem;
    margin: 0;
  }

  .about__extended {
    width: 100%;
  }

  .about__header {
    text-align: center;
    margin: 1rem 0;
  }

  .image-container {
    position: relative;
    display: inline-block;
  }

  .overlay-image {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 25%;
    z-index: 1;
  }
  .header__title {
    margin-top: 0;
    align-content: baseline;
  }

  .modal {
    width: auto;
    max-width: 90vw;
    max-height: 80vh;
    padding: 5rem 6rem;
  }


}

@media screen and (max-width: 500px) {

  .btn.projects__tab {
    padding: 1rem;
  }

  .section--cta .btn {
    padding: 2rem 3rem;
  }
}
